$grid-name: grid; 
$column-count: 12; 
$grid-width: 1264; 
$column-margin: 20;
$grid-type: fixed; // fixed (px), fluid(%).

$column-width-pixels: ($grid-width - ($column-margin * ($column-count - 1))) / $column-count;
$column-width-percentage: (($grid-width - ($column-margin * ($column-count - 1))) / $column-count) / $grid-width * 100%;
$column-margin-percentage: $column-margin / $grid-width * 100%;

.#{$grid-name}-1{
	@if ($grid-type == 'fluid') {
		width: $column-width-percentage;
	}
	@elseif ($grid-type == 'fixed'){
		width: $column-width-pixels + px;
	}
}

@for $i from 2 through ($column-count - 1){
	.#{$grid-name}-#{$i}{
		@if ($grid-type == 'fluid') {
			width: $column-width-percentage * $i + $column-margin-percentage * ($i - 1);
		}
		@elseif ($grid-type == 'fixed'){
			width: ($column-width-pixels * $i) + ($column-margin * ($i - 1)) + px;
		}
	}
}

.#{$grid-name}-#{$column-count}{
	@if ($grid-type == 'fluid') {
		width: 100%;
	}
	@elseif ($grid-type == 'fixed'){
		width: $grid-width + px
	}
}
