$main-color :#cdcdcd;
$main-margin :15;
$main-gutter :30;
$one-column:75px;
$one-column-responsive:53px;
$padding20: 0px 0 20px 0 ;
$margin15-15:0 15px 20px 15px;
$border-on: 1px solid #e5e5e5;
$border-off: 1px solid #ffffff;
$numbers-columns: 12;

.grid_1 {width: $one-column*1;}
@for $i from 2 through ($numbers-columns)-1 { .grid_#{$i} {width: $one-column*2+($main-gutter*($i)-$main-gutter);} }
.grid_#{$numbers-columns} {width: $one-column*($numbers-columns)+($main-gutter*($numbers-columns)-$main-margin*2);}


.faixa_1 {width: $one-column+$main-gutter*1;}
@for $i from 2 through ($numbers-columns)-1 { .faixa_#{$i} {width: $one-column*($i)+($main-gutter*($i));} }
.faixa_#{$numbers-columns} {width: $one-column*($numbers-columns)+($main-gutter*($numbers-columns)-$main-margin*2+$main-gutter);}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {padding:$padding20; border-bottom: $border-on; margin:$margin15-15;}
.faixa_1, .faixa_2, .faixa_3, .faixa_4, .faixa_5, .faixa_6, .faixa_7, .faixa_8, .faixa_9, .faixa_10, .faixa_11, .faixa_12,
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12
{float: left;}

.content {margin: 0 auto; float: none; position: relative;}

div[class^="faixa_"]:before, div[class^="faixa_"]:after, div[class^="grid_"]:before, div[class^="grid_"]:after {content: "";display: table;}
div[class^="faixa_"]:after, div[class^="grid_"]:after {clear: both;}

.no_border {border-bottom: $border-off;}
.border_top {border-top: $border-on;}

@media screen and (max-width: 1279px) {
.grid_1 {width: $one-column-responsive*1;}
@for $i from 2 through ($numbers-columns)-1 { .grid_#{$i} {width: $one-column-responsive*2+($main-gutter*($i)-$main-gutter);} }
.grid_#{$numbers-columns} {width: $one-column-responsive*($numbers-columns)+($main-gutter*($numbers-columns)-$main-margin*2);}

.faixa_1 {width: $one-column-responsive+$main-gutter*1;}
@for $i from 2 through ($numbers-columns)-1 { .faixa_#{$i} {width: $one-column-responsive*($i)+($main-gutter*($i));} }
.faixa_#{$numbers-columns} {width: $one-column-responsive*($numbers-columns)+($main-gutter*($numbers-columns)-$main-margin*2+$main-gutter);}
}